name: Prod, on PUSH Java CI/CD of favourite-service-ecommerce-boot, ecommerce-microservice-backend app

on:
  push:
    branches: [ master ]

        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
    name: Semantic Release & Changelog
    runs-on: ubuntu-latest
    needs: build_push
    steps:
      - uses: actions/checkout@v2
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install semantic-release
        run: npm install -g semantic-release @semantic-release/changelog @semantic-release/git @semantic-release/commit-analyzer @semantic-release/release-notes-generator
      - name: Run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          semantic-release

  deploy_to_aks:
    name: Deploy to AKS
    runs-on: ubuntu-latest
    needs: [build_push, trivy_scan]
    steps:
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS_PROD }}
      - name: Set AKS context
        uses: azure/aks-set-context@v3
        with:
          resource-group: ecommerce-prod-rg2
          cluster-name: ${{ secrets.AKS_CLUSTER_NAME_PROD }}
      - name: Deploy manifests
        run: |
          kubectl apply -f k8s/prod/favourite-service/

  notify_email:
    name: Notificar por Email si falla
    runs-on: ubuntu-latest
    needs: [build_push, trivy_scan, deploy_to_aks]
    if: failure()
    steps:
      - name: Send email notification
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: ${{ secrets.SMTP_SERVER }}
          server_port: ${{ secrets.SMTP_PORT }}
          username: ${{ secrets.SMTP_USERNAME }}
          password: ${{ secrets.SMTP_PASSWORD }}
          subject: 'Pipeline Fallida: favourite-service (PROD)'
          to: ${{ secrets.NOTIFY_EMAIL_TO }}
          from: ${{ secrets.NOTIFY_EMAIL_FROM }}
          body: 'La pipeline de favourite-service (PROD) ha fallado. Revisa los logs en GitHub Actions.'


